# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Build / output folders
client/build/
server/dist/

# Environment files
.env
client/.env
server/.env

# macOS system files
.DS_Store

# Logs
*.log